<aside>
  <% if !@animal_details %>
          <form action="/animals" method="post">
            <label>
              <select name="id">
                <% for animal in @animals %>
                  <option value="<%= animal.id %>"><%= animal.name %></option>
                <% end %>
             </select>
           </label>
            <input type='submit' value="Show Details">
          </form>
  <% end %>
</aside>

<main>
  <% if @animal_details %>
  <form action="/animals/edit" method="post">
    <input type='text' value="<%= @animal_details.name %>" name="name">
    <input type='text' value="<%= @animal_details.species %>" name="species">
    <input type='text' value="<%= @animal_details.breed %>" name="breed">
    <input type='text' value="<%= @animal_details.gender %>" name="gender">
    <input type='text' value="<%= @animal_details.age %>" name="age">
    <input type='text' value="<%= @animal_details.photo %>" name="photo">
    <input type='text' value="<%= @animal_details.healthy %>" name="healthy">
    <input type='text' value="<%= @animal_details.safe %>" name="safe">
    <input type='text' value="<%= @animal_details.adopted %>" name="adopted">
    <input type='text' value="<%= @animal_details.admission_date %>" name="admission_date">
    <input type='hidden' value="<%= @animal_details.id %>" name="id">
    <input type='submit' value="Update Details">
  </form>
  <form action="/animals/show" method="post">
    <input type='submit' value="Show All Animals">
  </form>
  <% end %>
</main>
