<h1>PET-SAVE</h1>

<h1>Animals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Species</th>
    <th>Breed</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Photo</th>
    <th>Healthy</th>
    <th>Safe</th>
    <th>Adopted</th>
    <th>Admission Date</th>
  </tr>
  <% for animal in @animals %>
    <tr>
      <td><a href="/animals/<%= animal.id %>"><%= animal.name %></a></td>
      <td><%= animal.species %></td>
      <td><%= animal.breed %></td>
      <td><%= animal.gender %></td>
      <td><%= animal.age %></td>
      <td><%= animal.photo %></td>
      <td><%= animal.healthy %></td>
      <td><%= animal.safe %></td>
      <td><%= animal.adopted %></td>
      <td><%= animal.admission_date %></td>
    </tr>
  <% end %>
</table>
