<aside>
          <form action="/animals" method="post">
            <label>
              <select name="id">
                <% for animal in @animals %>
                  <option value="<%= animal.id %>"><%= animal.name %></option>
                <% end %>
             </select>
           </label>
            <input type='submit' value="Show Details">
          </form>
</aside>

<main>
    <p><%= @animal_details.name %></p>
    <p><%= @animal_details.species %></p>
    <p><%= @animal_details.breed %></p>
    <p><%= @animal_details.gender %></p>
    <p><%= @animal_details.age %></p>
    <p><%= @animal_details.photo %></p>
    <p><%= @animal_details.healthy %></p>
    <p><%= @animal_details.safe %></p>
    <p><%= @animal_details.adopted %></p>
    <p><%= @animal_details.admission_date %></p>
</main>
