<aside>
  <% if !@animal_details %>
  <h1>Animals</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Breed</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Health</th>
      <th>Safety</th>
      <th>Adopted</th>
      <th>Admission Date</th>
    </tr>
    <% for animal in @animals %>
      <tr>

        <td>
          <a href="/animals/<%= animal.id %>">
            <%= animal.name %>
          </a>
        </td>

        <td><%= animal.species %></td>
        <td><%= animal.breed %></td>
        <td><%= animal.gender %></td>
        <td><%= animal.age %></td>
        <td><%= animal.healthy %></td>
        <td><%= animal.safe %></td>
        <td><% if animal.adopted == 't' %>Yes<% else %>No<% end %></td>
        <td><%= animal.admission_date %></td>
      </tr>
    <% end %>
  </table>

  <% else %>
  <h1><%= @animal_details.name %></h1>
  <img src="<%= @animal_details.photo %>" alt="dog image">
  <p>
    <% if @animal_details.adopted == 't' %>
        Adopted
    <% elsif (@animal_details.safe != 'Yes' || @animal_details.healthy != 'Yes') %>
        Not Ready for Adoption
    <% else %>
        Available for Adoption
    <% end %>
  </p>
  <% end %>
</aside>

<main>
  <% if @animal_details %>
  <h1>Animal Details</h1>
  <form action="/animals/edit" method="post">
    <table>
      <tr>
        <td>Name</td>
        <td><input type='text' value="<%= @animal_details.name %>" name="name"></td>
      </tr>
      <tr>
        <td>Species</td>
        <td><input type='text' value="<%= @animal_details.species %>" name="species"></td>
      </tr>
      <tr>
        <td>Breed</td>
        <td><input type='text' value="<%= @animal_details.breed %>" name="breed"></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td><input type='text' value="<%= @animal_details.gender %>" name="gender"></td>
      </tr>
      <tr>
        <td>Age</td>
        <td><input type='text' value="<%= @animal_details.age %>" name="age"></td>
      </tr>
      <tr>
        <td>Photo</td>
        <td><input type='text' value="<%= @animal_details.photo %>" name="photo"></td>
      </tr>
      <tr>
        <td>Healthy</td>
        <td><input type='text' value="<%= @animal_details.healthy %>" name="healthy"></td>
      </tr>
      <tr>
        <td>Safe</td>
        <td><input type='text' value="<%= @animal_details.safe %>" name="safe"></td>
      </tr>
      <tr>
        <td>Adopted</td>
        <td><input type='text' value="<%= @animal_details.adopted %>" name="adopted" readonly></td>
      </tr>
      <tr>
        <td>Admission Date</td>
        <td><input type='date' value="<%= @animal_details.admission_date %>" name="admission_date"></td>
      </tr>
    </table>
    <input type='hidden' value="<%= @animal_details.id %>" name="id">
    <input class="bot" type='submit' value="Update Details">
  </form>
  <% end %>
</main>
