<aside>
  <table>
    <tr>
      <th>First Name</th>
      <th>Surname</th>
      <th>Species</th>
    </tr>
    <% for owner in @owners %>
      <tr>
        <td><a href="/owners/<%= owner.id %>"><%= owner.first_name %></a></td>
        <td><%= owner.last_name %></td>
        <td><%= owner.species %></td>
      </tr>
    <% end %>
  </table>
</aside>

<main>
<table>
  <tr>
    <th>First Name</th>
    <th>Surname</th>
    <th>Telephone</th>
    <th>Email</th>
    <th>Address</th>
    <th>Postcode</th>
    <th>Species</th>
    <th>Breed</th>
    <th>Seeking Pet</th>
    <th>Registration Date</th>
  </tr>
  <% for owner in @owners %>
    <tr>
      <td><a href="/owners/<%= owner.id %>"><%= owner.first_name %></a></td>
      <td><%= owner.last_name %></td>
      <td><%= owner.telephone %></td>
      <td><%= owner.email %></td>
      <td><%= owner.address %></td>
      <td><%= owner.postcode %></td>
      <td><%= owner.species %></td>
      <td><%= owner.breed %></td>
      <td><%= owner.seeks_pet %></td>
      <td><%= owner.registration_date %></td>
    </tr>
  <% end %>
</table>
</main>
