<aside>
          <form action="/owners" method="post">
            <label>
              <select name="id">
                <% for owner in @owners %>
                  <option value="<%= owner.id %>"><%= owner.first_name %></option>
                <% end %>
             </select>
           </label>
            <input type='submit' value="Show Details">
          </form>
</aside>

<main>
  <form action="/owners/edit" method="post">
    <input type='text' value="<%= @owner_details.first_name %>" name="first_name">
    <input type='text' value="<%= @owner_details.last_name %>" name="last_name">
    <input type='text' value="<%= @owner_details.telephone %>" name="telephone">
    <input type='text' value="<%= @owner_details.email %>" name="email">
    <input type='text' value="<%= @owner_details.address %>" name="address">
    <input type='text' value="<%= @owner_details.postcode %>" name="postcode">
    <input type='text' value="<%= @owner_details.species %>" name="species">
    <input type='text' value="<%= @owner_details.breed %>" name="breed">
    <input type='text' value="<%= @owner_details.seeks_pet %>" name="seeks_pet">
    <input type='text' value="<%= @owner_details.registration_date %>" name="registration_date">
    <input type='hidden' value="<%= @owner_details.id %>" name="id">
    <input type='submit' value="Update Details">
  </form>
</main>
