<aside>
          <form action="/owners" method="post">
            <label>
              <select name="id">
                <% for owner in @owners %>
                  <option value="<%= owner.id %>"><%= owner.first_name %></option>
                <% end %>
             </select>
           </label>
            <input type='submit' value="Show Details">
          </form>
</aside>

<main>
    <p><%= @owner_details.first_name %></p>
    <p><%= @owner_details.last_name %></p>
    <p><%= @owner_details.telephone %></p>
    <p><%= @owner_details.email %></p>
    <p><%= @owner_details.address %></p>
    <p><%= @owner_details.postcode %></p>
    <p><%= @owner_details.species %></p>
    <p><%= @owner_details.breed %></p>
    <p><%= @owner_details.seeks_pet %></p>
    <p><%= @owner_details.registration_date %></p>
</main>
